.add-product {
  padding-left: 20px;
  padding-right: 20px;
}

@include tablet {
  .add-product {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@include desktop {
  .add-product {
    padding-left: 0;
    padding-right: 0;
  }
}

@include tablet {
  .add-product__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid $border-color;
    margin-bottom: 69px;
    box-sizing: border-box;
  }
}

@include desktop {
  .add-product__list {
    border: none;
  }
}

.add-product__list-item {
  display: block;
  padding-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid $border-color;
}

@include tablet {
  .add-product__list-item {
    margin: 0 auto;
    padding: 26px 0;
    border-bottom: 1px solid $border-color;
    padding-left: 38px;
    padding-right: 38px;
    box-sizing: border-box;
  }
}

@include desktop {
  .add-product__list-item {
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    padding: 16px 0;

    &:nth-child(1) {
      border-top: 1px solid $border-color;
    }
  }
}

@include tablet {
  .add-product__list-item--border {
    border-bottom: none;
  }
}

@include desktop {
  .add-product__list-item--border {
    border-bottom: 1px solid $border-color;
  }
}

@include tablet {
  .add-product__list-block {
    display: flex;
    align-items: center;
  }
}

@include desktop {
  .add-product__list-block {
    display: flex;
    width: 100%;
    min-width: 630px;
  }
}

@include tablet {
  .add-product__block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #cdcdcd;
    padding: 27px 38px;
  }
}

.add-product__title {
  @include font(24px, 24px, 400);
  border-bottom: 1px solid $border-color;
  padding-top: 25px;
  padding-bottom: 36px;
  padding-right: 21px;
  margin: 0;
  position: relative;
  z-index: 1;
}

@include tablet {
  .add-product__title {
    @include font(36px, 36px, 400);
    border: none;
  }
}

@include desktop {
  .add-product__title {
    padding-left: 110px;
  }
}

.add-product__table {
  width: 100%;
}

@include desktop {
  .add-product_table {
    width: 50%;
  }
}

.add-product__subtitle {
  @include font(16px, 16px, 400);
  text-transform: uppercase;
  color: $grey-catalog-text;
  padding-top: 5px;
}

@include tablet {
  .add-product__subtitle {
    @include font(20px, 20px, 400);
    margin: 0;
    padding-bottom: 25px;
    width: 100%;
  }
}

@include desktop {
  .add-product__subtitle {
    display: flex;
    align-items: center;
    width: 400px;
    padding-bottom: 0;
    padding-top: 0;
  }
}

.add-product__subtext {
  @include font(14px, 14px, 400);
  font-family: "Lato", sans-serif;
  padding-bottom: 15px;
}

@include tablet {
  .add-product__subtext {
    @include font(16px, 20px, 400);
    font-family: "Lato", sans-serif;
    padding-bottom: 25px;
  }
}

@include desktop {
  .add-product__subtext {
    padding-bottom: 0;
    display: flex;
    align-items: center;
    padding-right: 40px;
  }
}

.add-product__flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@include tablet {
  .add-product__flex {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
  }
}

@include desktop {
  .add-product__flex {
    display: flex;
    justify-content: space-between;
  }
}

.add-product__button {
  display: block;
  padding: 10px;
  transition: all 0.3s ease;

  &:hover {
    background-color: #5eaa2f;
    transition: all 0.3s;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@include tablet {
  .add-product__button {
    text-align: center;
  }
}

@include desktop {
  .add-product__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
  }
}

.add-product__gift {
  text-align: center;
  height: 290px;
  margin-top: 55px;
  background: linear-gradient(rgba(105, 183, 56, 0.85), rgba(105, 183, 56, 0.85)), url("../img/catalog-gift-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@include tablet {
  .add-product__gift {
    margin: 0 auto;
    background-size: cover;
    height: 200px;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(rgba(105, 183, 56, 0.85), rgba(105, 183, 56, 0.85)), url("/img/catalog-gift-background@2x.png") no-repeat;
      background-position: 100% 60%;
      background-size: cover;
    }
  }
}

@include desktop {
  .add-product__gift {
    height: 289px;
  }
}

.add-product__gift-text {
  @include font(16px, 20px, 400);
  font-family: "Lato", sans-serif;
  text-align: center;
  color: #ffffff;
  width: 160px;
  padding-top: 20px;
}

@include tablet {
  .add-product__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 265px;
  }
}

@include desktop {
  .add-product__container {
    display: flex;
    flex-direction: column;
    gap: 46px;
    width: 245px;
  }
}

@include desktop {
  .add-product__container-desktop {
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
