.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background-color: #68b738;
  color: #ffffff;
  border: none;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
