.button {
  @include font(16px, 20px, 400);
  background-color: #68b738;
  color: #ffffff;
  border: none;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

@include tablet {
  .button {
  @include font(20px, 20px, 400);
  }
}
