.catalog__title {
  @include font(36px, 36px, 400);
}

.catalog__list-item {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  width: 320px;

  &:not(:nth-child(7)) {
    padding-bottom: 86px;
  }
}

.catalog__show-all {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 280px;
  padding-top: 50px;
}

.catalog__subtitle {
  @include font(16px, 20px, 400);
  text-align: center;
  color: #111111;
  text-transform: uppercase;
}

.catalog__subtext {
  @include font(12px, 16px, 400);
  font-family: "Lato", sans-serif;
  text-align: center;
  color: $color-text;
}

.catalog__show-button {
  @include font(16px, 20px, 400);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $grey-background;
  border: none;
  padding: 10px 94px;
  width: 310px;
  color: $color-text;
}

.catalog__list-button {
  @include font(16px, 20px, 400);
  background-color: $main-green-color;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 109px;
  text-transform: uppercase;
}

.catalog__list-text {
  @include font(16px, 20px, 400);
  color: $grey-catalog-text;
  width: 76px;
  text-transform: uppercase;
}

.catalog__list-title {
  @include font(12px, 16px, 400);
  font-family: "Lato", sans-serif;
  text-align: center;
  padding-right: 70px;
}

.catalog__list-value {
  @include font(12px, 16px, 400);
  font-family: "Lato", sans-serif;
  text-align: center;
}
