.catalog__title {
  @include font(36px, 36px, 400);
  padding-left: 20px;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 40px;
}

@include tablet {
  .catalog__title {
    @include font(60px, 60px, 400);
    border: none;
  }
}

@include desktop {
  .catalog__title {
    @include font(60px, 60px, 400);
    margin-top: 61px;
    padding-top: 0;
    margin-bottom: 27px;
    padding-left: 0;
  }
}

@include tablet {
  .catalog {
    display: flex;
    flex-wrap: wrap;
  }
}

@include desktop {
  .catalog {
    padding-left: 110px;
  }
}

.catalog__list {
  padding-left: 20px;
  padding-right: 20px;
}

@include tablet {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 26px;
    gap: 56px;
    padding-left: 31px;
    padding-right: 31px;
    box-sizing: border-box;
  }
}

@include desktop {
  .catalog__list {
    padding-right: 0;
    padding-left: 0;
    gap: 80px;
  }
}

.catalog__list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}

@include tablet {
  .catalog__list-container {
    display: flex;
    align-items: center;
    gap: 21px;
    width: 100%;
  }
}

@include tablet {
  .catalog__list-table {
    width: 100%;
    padding-right: 36px;
    padding-left: 36px;
  }
}

.catalog__list-item {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 86px;
}

@include tablet {
  .catalog__list-item {
    background-color: $grey-background;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 46%;
    gap: 34px;
  }
}

@include desktop {
  .catalog__list-item {
    width: 245px;
  }
}

.catalog__list-item--padding {
  padding-bottom: 0;
}

@include tablet {
  .catalog__list-item--padding {
    padding-bottom: 86px;
  }
}

.catalog__subtitle {
  @include font(16px, 20px, 400);
  text-align: center;
  color: #111111;
  text-transform: uppercase;
}

.catalog__subtext {
  @include font(12px, 16px, 400);
  font-family: "Lato", sans-serif;
  text-align: center;
  color: $color-text;
}

.catalog__show-button {
  @include font(16px, 20px, 400);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $grey-background;
  border: none;
  padding: 10px;
  width: 100%;
  color: $color-text;
}

@include tablet {
  .catalog__show-button {
    @include font(16px, 20px, 400);
    padding: 10px 0;
    margin-left: 0;
    width: 248px;
    margin-top: 25px;
  }
}

@include desktop {
  .catalog__show-button {
    @include font(16px, 20px, 400);
    width: 168px;
  }
}

.catalog__list-button {
  padding: 10px;
  width: 100%;
}

@include tablet {
  .catalog__list-button {
    padding: 10px 0;
    width: 248px;
    margin-right: 0;
  }
}

@include desktop {
  .catalog__list-button {
    width: 168px;
  }
}

.catalog__list-text {
  @include font(16px, 20px, 400);
  color: $grey-catalog-text;
  width: 76px;
  text-transform: uppercase;
  margin: 0;
}

@include tablet {
  .catalog__list-text {
    @include font(20px, 24px, 400);
    width: 120px;
    text-align: center;
  }
}

.catalog__list-image {
  margin-bottom: 15px;
}

.catalog__list-table__item {
  @include font(12px, 16px, 400);
  font-family: "Lato", sans-serif;
  vertical-align: middle;

  &:not(:nth-child(2n)) {
    padding-right: 60px;
  }
}

@include tablet {
  .catalog__list-table__item {
    @include font(16px, 16px, 400);
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid $border-color;
    border-collapse: collapse;
    text-align: right;
    padding-right: 0;
  }
}

@include tablet {
  .catalog__list-table--title {
    text-align: left;
  }
}

@include tablet {
  .catalog__list-table--value {
    text-align: right;
  }
}

.catalog__show-all {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
}

@include tablet {
  .catalog__show-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    margin-bottom: 60px;
    border: 1px solid #e6e6e6;
    padding-right: 0;
  }
}

@include desktop {
  .catalog__show-all {
    width: 245px;
  }
}

@include tablet {
  .catalog__subtitle {
    @include font(20px, 22px, 400);
    width: 134px;
  }
}

@include tablet {
  .catalog__subtext {
    @include font(16px, 20px, 400);
    font-family: "Lato", sans-serif;
    width: 165px;
  }
}
