.contacts__block {
  display: flex;
  width: 100%;
  background-color: $grey-background;
  padding-top: 26px;
}

.contacts__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.contacts__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
