.fields-application {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-right: 20px;
  box-sizing: border-box;
}

@include tablet {
  .fields-application {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    gap: 64px;
    padding-right: 0;
    padding-left: 0;
  }
}

.fields-application__button {
  padding: 10px 44px;
  margin-bottom: 21px;
  width: 100%;
}

@include tablet {
  .fields-application__button {
    width: 50%;
    padding: 13px 45px;
  }
}

.fields-application__note {
  @include font(14px, 16px, 400);
  font-family: "Lato", sans-serif;
  text-align: center;
  padding-bottom: 32px;
}

@include tablet {
  .fields-application__note {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
  }
}
