.fields-comment {
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

@include tablet {
  .fields-comment {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@include desktop {
  .fields-comment {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.fields-comment__title {
  &::before {
    content: "";
    position: absolute;
    top: 38px;
    height: 3px;
    z-index: 1;
    width: 100%;
    background-color: $main-green-color;
  }
}

@include tablet {
  .fields-comment__title {
    &::before {
      top: -5%;
      right: 0;
      z-index: 1;
    }
  }
}

@include desktop {
  .fields-comment__title {
    padding-bottom: 76px;
  }

  &::before {
    top: 59px;
    right: 0;
    z-index: 1;
  }
}

.fields-comment__textarea {
  @include font(16px, 18px, 400);
  color: $color-text;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  width: 100%;
  height: 150px;
  padding-left: 13px;
  padding-right: 13px;
  resize: none;
  box-sizing: border-box;
}

@include tablet {
  .fields-comment__textarea {
    @include font(20px, 30px, 400);
  }
}
