.fields-application {
  display: flex;
  flex-direction: column;
}

@include tablet {
  .fields-application {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
  }
}

.fields-application__button {
  @include font(16px, 20px, 400);
  background-color: $main-green-color;
  color: #ffffff;
  border: none;
  text-decoration: none;
  padding: 7px 44px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 21px;
  margin-right: 64px;
}

.fields-application__note {
  @include font(14px, 16px, 400);
  font-family: "Lato", sans-serif;
  text-align: center;
}
