.fields-list {
  border-bottom: 1px solid $border-color;
  padding-bottom: 19px;
  padding-right: 25px;
}

@include tablet {
  .fields-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}

@include desktop {
  .fields-list {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding-top: 57px;
    padding-bottom: 61px;
  }
}

.fields-program {
  border: none;
  padding: 0;
  margin: 0;
}

@include tablet {
  .fields-program {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@include desktop {
  .fields-program {
    width: 44%;
    padding-right: 0;
    padding-left: 0;
  }
}

.fields-list__program {
  padding-left: 20px;
  padding-top: 22px;
}

@include tablet {
  .fields-list__program {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    border: 1px solid $border-color;
    padding-left: 27px;
    padding-top: 25px;
  }
}

@include desktop {
  .fields-list__program {
    padding-bottom: 15px;
    padding-top: 15px;
  }
}

.fields-list__item {
  padding-top: 6px;
  margin-bottom: 12px;
}

@include tablet {
  .fields-list__item {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.fields-list__program-label {
  @include font(16px, 18px, 400);
  color: $grey-catalog-text;
  position: relative;
  text-transform: uppercase;
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
  transition: all 0.3s;

  &::before {
    content: "";
    position: absolute;
    border: 1px solid $border-color;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    top: 0;
    left: 0;
    transition: all 0.1s;
  }

  &:hover {
    color: $main-green-color;
    transition: all 0.3s;
  }
}

@include tablet {
  .fields-list__program-label {
    @include font(20px, 30px, 400);
    width: 507px;
    padding-top: 0;
  }
}

.fields-list__program-input:checked + .fields-list__program-label::before {
  background: url("/img/radio-button-form.svg") no-repeat center center;
}

.fields-list__program-input {
  display: none;
  transition: all 0.3;

  &:hover + .fields-list__program-label::before {
    border-color: $main-green-color;
  }

  &:active {
    opacity: 0.5;
    transition: all 0.3s;
  }
}

.fields-list__add-label {
  @include font(16px, 18px, 400);
  color: $grey-catalog-text;
  position: relative;
  text-transform: uppercase;
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
  transition: all 0.3s;

  &::before {
    content: "";
    position: absolute;
    border: 1px solid $border-color;
    width: 28px;
    height: 28px;
    top: 0;
    left: 0;
    transition: all 0.1s;
  }

  &:hover {
    color: $main-green-color;
    transition: all 0.3s;
  }
}

.fields-list__add-input:checked + .fields-list__add-label::before {
  background: url("/img/checkbox-form.svg") no-repeat center center;
}

.fields-list__add-input {
  transition: all 0.3;

  &:hover + .fields-list__add-label::before {
    border-color: $main-green-color;
  }

  &:active {
    opacity: 0.5;
    transition: all 0.3s;
  }
}
