.fields {
  border: none;
  border-bottom: 1px solid $border-color;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}

@include tablet {
  .fields {
    border: none;
    padding-left: 70px;
    padding-right: 70px;
  }
}

@include desktop {
  .fields {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 52%;
  }
}

.line-title {
  @include font(24px, 26px, 400);
  background-color: #ffffff;
  border: none;
  padding-top: 25px;
  padding-bottom: 35px;
  padding-right: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 38px;
    height: 3px;
    z-index: -1;
    width: 100%;
    background-color: $main-green-color;
  }
}

@include tablet {
  .line-title {
    @include font(36px, 36px, 400);
    background-color: #ffffff;
    border: none;
    padding-top: 68px;
    padding-bottom: 76px;
    padding-right: 40px;
    padding-left: 39px;

    &::before {
      top: -5%;
      right: 0;
      z-index: 1;
    }
  }
}

@include desktop {
  .line-title {
    padding-top: 0;
    padding-bottom: 76px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
  }
}

.fields-block {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

@include desktop {
  .fields-block {
    display: flex;
    margin-bottom: 20px;
  }
}

@include desktop {
  .fields-container {
    display: flex;
    justify-content: space-around;
    gap: 80px;
    padding-bottom: 65px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.fields-label {
  @include font(16px, 18px, 400);
  color: $color-text;
  text-transform: uppercase;
  white-space: nowrap;
}

@include tablet {
  .fields-label {
    @include font (20px, 30px, 400);
    white-space: nowrap;
  }
}

.fields-textfields {
  @include font(16px, 18px, 400);
  color: $color-text;
  text-transform: uppercase;
  outline: none;
  border: 1px solid #e6e6e6;
  padding: 12px 15px;
  width: 100%;
  margin-left: 15px;
  transition: all 0.2s;

  &:hover {
    border: 1px solid #cdcdcd;
    transition: all 0.2s;
  }

  &:active {
    border: 1px solid $color-text;
    transition: all 0.2s;
  }

  &:focus:invalid {
    border: 1px solid #ff8282;
    transition: all 0.2s;
  }
}

@include tablet {
  .fields-textfields {
    @include font (20px, 30px, 400);
  }
}

@include desktop {
  .fields-textfields {
    padding: 10px 15px;
  }
}
