.fields-contacts {
  position: relative;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
}

@include tablet {
  .fields-contacts {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@include desktop {
  .fields-contacts {
    padding-left: 110px;
    padding-right: 110px;
  }
}

@include desktop {
  .fields-contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 78px;
  }
}

.fields-contacts__title {
  width: 187px;
  padding-right: 14px;
}

@include tablet {
  .fields-contacts__title {
    width: 512px;
    padding-right: 42px;
    margin-bottom: 4px;
  }
}

@include desktop {
  .fields-contacts__title {
    padding: 40px 40px;
    background-color: #ffffff;
    margin-left: -40px;
    padding-bottom: 75px;
  }
}

.fields-contacts__block {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 15px;
}

@include desktop {
  .fields-contacts__block {
    width: 50%;
  }
}

.fields-contacts__input {
  @include font(16px, 18px, 400);
  color: $grey-catalog-text;
  text-transform: uppercase;
  padding: 12px 15px;
  border: 1px solid #e6e6e6;
  width: 100%;
  padding-right: 50px;
}

@include tablet {
  .fields-contacts__input {
    @include font(20px, 30px, 400);
  }
}

.fields-contacts__label {
  @include font(16px, 18px, 400);
  color: $grey-catalog-text;
  text-transform: uppercase;
  white-space: nowrap;
  margin-right: 10px;
}

@include tablet {
  .fields-contacts__label {
    @include font(20px, 30px, 400);
  }
}

.fields-contacts__icon {
  position: absolute;
  padding-left: 10px;
  top: 12px;
  right: 16px;
}

@include tablet {
  .fields-contacts__icon {
    top: 18px;
  }
}

@include desktop {
  .fields-contacts__icon {
    top: 18px;
  }
}
