.fields-add__title {
  &::before {
    content: "";
    position: absolute;
    top: 14px;
    height: 3px;
    z-index: 1;
    width: 100%;
    left: 190px;
    background-color: $main-green-color;
  }
}

@include tablet {
  .fields-add__title {
    &::before {
      top: 20px;
      left: 320px;
      z-index: 1;
    }
  }
}

@include desktop {
  .fields-add__title {
    background-color: #fff;
    margin-left: -40px;
    padding: 40px 40px 75px;
    z-index: 1;

    &::before {
      top: 59px;
      right: 0;
      left: 0;
      z-index: -1;
    }
  }
}

@include tablet {
  .fields-add__title--padding {
    padding-bottom: 0;
  }
}

@include desktop {
  .fields-add__title--padding {
    padding-bottom: 0;
  }
}

.fields-add {
  border: none;
  position: relative;
  padding-left: 20px;
}

@include tablet {
  .fields-add {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@include desktop {
  .fields-add {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.fields-add-list {
  border: none;
}

.fields-list__add-label {
  @include font(16px, 18px, 400);
  text-transform: uppercase;
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
}

@include tablet {
  .fields-list__add-label {
    @include font(20px, 30px, 400);
    padding-top: 0;
  }
}

.fields-list__add-input {
  display: none;
}
