.footer {
  background-color: $grey-background;
  padding-right: 30px;
  padding-left: 30px;
}

@include tablet {
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 41px 20px;
  }
}

@include desktop {
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 52px 110px;
  }
}

.footer__logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: all 0.2s;

  &:hover {
    fill: #3e3e3e;
    transition: all 0.2s;
  }

  &:active {
    opacity: #6b6b6b;
    transition: all 0.2s;
  }
}

@include tablet {
  .footer__logo-link {
    border: 0;
  }
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 20px;
  padding-bottom: 20px;
}

@include tablet {
  .footer__list {
    border: 0;
  }
}

.footer__list-item {
  &:not(:last-child) {
    padding-right: 24px;
  }
}

.footer__list-icon {
  fill: $special-grey;
  transition: all 0.2s;

  &:hover {
    fill: #68b738;
    transition: all 0.2s;
  }

  &:active {
    opacity: 0.3s;
    transition: all 0.2s;
  }
}
