.footer-container {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

@include tablet {
  .footer-container {
    padding: 0;
    gap: 28px;
  }
}

.footer-container__text {
  @include font(16px, 19px, 400);
  font-family: "Lato", sans-serif;
  color: $color-text;
  transition: all 0.2s;
  text-decoration: none;

  &:hover {
    opacity: 0.5;
    transition: all 0.2s;
  }

  &:active {
    opacity: 0.3;
    transition: all 0.2s;
  }
}

.footer-container__logo {
  fill: #666666;
  transition: all 0.2s;

  &:hover {
    fill: #68b738;
    transition: all 0.2s;
  }

  &:active {
    opacity: 0.3;
    transition: all 0.2s;
  }
}
