.footer-container {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

@include tablet {
  .footer-container {
    padding: 0;
    gap: 28px;
  }
}

.footer-container__text {
  @include font(16px, 19px, 400);
  font-family: "Lato", sans-serif;
  color: $color-text;
}
