@include tablet {
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 66px 110px;
  }
}

@include desktop {
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 66px 110px;
  }
}

.footer__logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__list {
  display: flex;
  padding-left: 94px;
  padding-right: 94px;
}

.footer__list-item {
  &:not(:last-child) {
    padding-right: 24px;
  }
}
