.instruction {
  padding-right: 20px;
  padding-left: 20px;
}

@include tablet {
  .instruction {
    padding-right: 31px;
    padding-left: 31px;
  }
}

.instruction__title {
  @include font(36px, 40px, 400);
  vertical-align: top;
}

@include tablet {
  .instruction__title {
    @include font(60px, 60px, 400);
    text-align: left;
  }
}

.instruction__list {
  width: 279px;
}

@include tablet {
  .instruction__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }
}

.instruction__image {
  background-color: $main-green-color;
  padding: 15px 14px;
  display: flex;
  flex-grow: 1;
}

@include tablet {
  .instruction__image {
    padding: 24px 25px;
  }
}

.instruction__description {
  @include font(14px, 18px, 400);
  font-family: "Lato", sans-serif;
  text-align: left;
  vertical-align: top;
  color: $color-text;
  width: 200px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

@include tablet {
  .instruction__description {
    @include font(16px, 24px, 400);
    font-family: "Lato", sans-serif;
    width: 250px;
    padding: 0;
  }
}

@include desktop {
  .instruction__description {
    width: 250px;
    padding: 0;
  }
}

@include desktop {
  .instruction {
    margin-right: 110px;
    margin-left: 110px;
  }
}

@include desktop {
  .instruction__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    gap: 55px;
  }
}

.instruction__list-item {
  display: flex;
  align-items: center;
}

@include tablet {
  .instruction__list-item {
    display: block;
    width: 50%;
    position: relative;
    margin-bottom: 116px;
    padding-bottom: 70px;
  }
}

@include desktop {
  .instruction__list-item {
    display: block;
    padding-right: 0;
    padding-left: 0;
    position: relative;
  }
}

@include tablet {
  .instruction__list-item--one {
    background: url("/img/instruction-one.png") no-repeat;
    background-size: 71px 228px;
    background-position: 127px 0;
    color: #f2f2f2;
    z-index: -1;
  }
}

@include desktop {
  .instruction__list-item--one {
    width: 260px;
  }
}

@include tablet {
  .instruction__list-item--two {
    background: url("/img/instruction-two.png") no-repeat;
    background-size: 114px 228px;
    background-position: 123px 0;
    color: #f2f2f2;
    z-index: -1;
  }
}

@include desktop {
  .instruction__list-item--two {
    width: 260px;
  }
}

@include tablet {
  .instruction__list-item--three {
    background: url("/img/instruction-three.png") no-repeat;
    background-size: 113px 228px;
    background-position: 123px 0;
    color: #f2f2f2;
    z-index: -1;
  }
}

@include desktop {
  .instruction__list-item--three {
    width: 260px;
  }
}

@include tablet {
  .instruction__list-item--four {
    background: url("/img/instruction-four.png") no-repeat;
    background-size: 121px 228px;
    background-position: 124px 0;
    color: #f2f2f2;
    z-index: -1;
  }
}

@include desktop {
  .instruction__list-item--four {
    width: 260px;
  }
}
