@include desktop {
  .main-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.main-nav__list {
  @include font(20px, 20px, 500);
  padding: 0;
  margin: 0;
  display: block;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

@include tablet {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    color: $color-link;
    text-transform: uppercase;
  }
}

@include desktop {
  .main-nav__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }
}

.main-nav__list-item {
  display: block;
  border-top: 1px solid #e6e6e6;
  text-decoration: none;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 25px;
  transition: height 0.5s, opacity 1s;
}

@include tablet {
  .main-nav__list-item {
    @include font(18px, 24px, 400);
    border: none;
    text-decoration: none;
    color: $color-link;
  }
}

@include desktop {
  .main-nav__list-item {
    display: flex;
  }
}

@include tablet {
  .main-nav__toggle {
    display: none;
  }
}
