.main-nav__menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 32px;
  left: 255px;
  width: 24px;
  height: 18px;
  cursor: pointer;

  &::before {
    content: "";
    top: -8px;
  }

  &::after {
    content: "";
    top: 8px;
  }
}

.main-nav__menu-button,
.main-nav__menu-button::before,
.main-nav__menu-button::after {
  display: block;
  position: absolute;
  height: 2px;
  width: 24px;
  background-color: $color-link;
  transition: all 0.3s ease;
}

.main-nav__menu-toggle {
  display: none;
  transition: all 0.3s ease;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: all 0.3s ease;

  &:checked ~ .main-nav__menu-button {
    transform: rotate(45deg);
  }

  &:checked ~ .main-nav__menu-button::before {
    top: 0;
    transform: rotate(0);
  }

  &:checked ~ .main-nav__menu-button::after {
    top: 0;
    transform: rotate(90deg);
  }

  &:checked ~ .main-nav__list {
    visibility: visible;
    left: 0;
  }
}

.main-nav__list {
  @include font(20px, 20px, 500);
  padding: 0;
  margin: 0;
  display: block;
  text-transform: uppercase;
  color: #000000;
  visibility: hidden;
  text-align: center;
  transition: all 0.3s ease;
}

.main-nav__list-item {
  display: block;
  border-top: 1px solid #e6e6e6;
  text-decoration: none;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 25px;
  transition: all 0.3s ease;
}
