.main__promo {
  background-image: linear-gradient(rgba(105, 183, 56, 0.85), rgba(105, 183, 56, 0.85)), url("/img/index-background.jpg");
  background-size: 100% 69%;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@include tablet {
  .main__promo {
    background: url("/img/index-cat-tablet.png") no-repeat;
    background-position: center 217px;
    margin: 0;
    padding-bottom: 520px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 120px;
  }
}

@include desktop {
  .main__promo {
    background: url("/img/index-cat-desktop.png") no-repeat 550px center;
    position: relative;
    padding-bottom: 300px;
    padding-top: 160px;
    padding-left: 190px;

    &::before {
      content: "";
      position: absolute;
      width: 50%;
      top: 0;
      height: 694px;
      left: 50%;
      background-image: linear-gradient(rgba(105, 183, 56, 0.85), rgba(105, 183, 56, 0.85)), url("/img/index-background-desktop.png");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }
  }
}

.main__title {
  @include font(36px, 36px, 400);
  color: #ffffff;
  text-align: center;
  vertical-align: top;
  margin: 0;
  padding-top: 25px;
  width: 250px;
}

@include tablet {
  .main__title {
    @include font(60px, 60px, 400);
    color: $color-link;
    width: 415px;
    text-transform: none;
    text-align: left;
    padding-bottom: 20px;
  }
}

@include desktop {
  .main__title {
    @include font(60px, 60px, 400);
    color: $color-link;
    text-transform: none;
    text-align: left;
  }
}

.main__text {
  @include font(14px, 14px, 400);
  color: #ffffff;
  text-align: center;
  vertical-align: top;
  text-transform: uppercase;
}

@include tablet {
  .main__text {
    @include font(20px, 20px, 400);
    color: $color-link;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 25px;
  }
}

@include desktop {
  .main__text {
    @include font(20px, 20px, 400);
    color: $color-link;
    text-transform: uppercase;
    text-align: left;
  }
}

.main__image {
  display: block;
  margin: 0 auto;
}

@include tablet {
  .main__image {
    display: none;
  }
}

.main__button {
  display: flex;
  align-self: normal;
  justify-content: center;
  padding: 7px 44px;
  margin-right: 20px;
  margin-left: 20px;
}

@include tablet {
  .main__button {
    @include font(20px, 20px, 400);
    width: 244px;
    padding: 14px 26px;
    gap: 4px;
    margin: 0;
  }
}

@include desktop {
  .main__button {
    @include font(20px, 20px, 400);
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    width: 244px;
    padding: 14px 26px;
  }
}
