.main-nav {
  display: none;
}

@include tablet {
  .main-nav {
    padding-top: 5px;
    padding-left: 20px;
    display: block;
  }
}

@include desktop {
  .main-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
  }
}

.main-nav__list {
  @include font(20px, 20px, 500);
  padding: 0;
  margin: 0;
  display: block;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

@include tablet {
  .main-nav__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 35px;
    color: $color-link;
    width: 500px;
    padding-right: 30px;
  }
}

@include desktop {
  .main-nav__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 500px;
    padding-right: 110px;
  }
}

.main-nav__list-item {
  display: block;
  border-top: 1px solid #e6e6e6;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 25px;
  transition: height 0.5s, opacity 0.2s;
  position: relative;

  &:hover {
    opacity: 0.6;
    transition: all 0.2s;
  }

  &:active {
    opacity: 0.3;
    transition: all 0.2s;
  }
}

@include tablet {
  .main-nav__list-item {
    @include font(18px, 24px, 400);
    border: none;
  }
}

@include desktop {
  .main-nav__list-item {
    display: flex;
  }
}

.main-nav__list-item--current {
  &::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: 0;
    top: 66px;
    background-color: #68b738;
    z-index: 1;
  }
}

@include desktop {
  .main-nav__list-item--white {
    &::before {
      background-color: #ffffff;
    }
  }
}

.main-nav__list-link {
  @include font(20px, 20px, 400);
  text-decoration: none;
  color: $color-link;
}

@include tablet {
  .main-nav__list-link {
    @include font(18px, 24px, 400);
    text-decoration: none;
    color: $color-link;
  }
}

@include desktop {
  .main-nav__list-link {
    @include font(20px, 40px, 400);
    text-decoration: none;
    color: $color-link;
  }
}

@include desktop {
  .main-nav__list-link--white {
    color: #ffffff;
  }
}

.main-toggle {
  background: url("/img/open-menu.svg") no-repeat center center;
  height: 18px;
  width: 24px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  display: block;
}

@include tablet {
  .main-toggle {
    display: none;
  }
}

@include desktop {
  .main-toggle {
    display: none;
  }
}
