.program-list__item {
  background-color: $grey-background;
  padding: 22px;
  margin-top: 20px;

  &:not(:first-child) {
    margin-top: 22px;
  }
}

@include tablet {
  .program-list__item {
    min-height: 372px;
    position: relative;
  }
}

@include desktop {
  .program-list__item {
    width: 50%;
  }
}

@include desktop {
  .program-list__item:not(:first-child) {
    width: 50%;
  }
}

@include desktop {
  .program-list {
    display: flex;
    flex-direction: row;
    margin-left: 110px;
    margin-right: 110px;
    gap: 80px;
  }
}

.program__title {
  @include font(24px, 37px, 400);
  text-transform: uppercase;
  vertical-align: top;
  padding-left: 70px;
  margin-block-start: 0;
}

@include tablet {
  .program__title {
    @include font(36px, 36px, 400);
    text-align: left;
    padding: 0;
  }
}

@include desktop {
  .program__title {
    @include font(36px, 36px, 400);
    vertical-align: middle;
    padding-top: 57px;
    padding-left: 200px;
  }
}

.program__text--slim {
  @include font(14px, 18px, 400);
  font-family: "Lato", sans-serif;
  vertical-align: top;
  color: $color-text;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 21px;
  padding-top: 21px;
}

@include tablet {
  .program__text--slim {
    @include font(16px, 24px, 400);
    font-family: "Lato", sans-serif;
    width: 340px;
    border: none;
  }
}

@include desktop {
  .program__text--slim {
    @include font(16px, 24px, 400);
    font-family: "Lato", sans-serif;
    width: 457px;
    padding-left: 52px;
    padding-top: 22px;
    border: none;
  }
}

.program__text--pro {
  @include font(14px, 18px, 400);
  font-family: "Lato", sans-serif;
  vertical-align: top;
  color: $color-text;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 21px;
  padding-top: 21px;
}

@include tablet {
  .program__text--pro {
    @include font(16px, 24px, 400);
    font-family: "Lato", sans-serif;
    width: 300px;
    border: none;
  }
}

@include desktop {
  .program__text--pro {
    @include font(16px, 24px, 400);
    font-family: "Lato", sans-serif;
    width: 457px;
    padding-left: 52px;
    padding-top: 22px;
    border: none;
  }
}

.program__catalog {
  @include font(16px, 16px, 400);
  color: $color-link;
  text-align: left;
  vertical-align: top;
  text-transform: uppercase;
}

.program-list__icon {
  position: absolute;
}

@include tablet {
  .program-list__icon {
    height: 211px;
    position: absolute;
    right: 62px;
  }
}

@include desktop {
  .program-list__icon {
    height: 106px;
    left: 52px;
    top: 41px;
  }
}

.program__link {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-decoration: none;
  gap: 15px;
}

@include tablet {
  .program__link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    gap: 25px;
  }
}

@include desktop {
  .program__link {
    padding-left: 52px;
  }
}

@include tablet {
  .program-catalog {
    @include font(20px, 30px, 400);
  }
}
