@font-face {
  font-family: "Oswald";
  font-style: regular;
  font-weight: 700;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

main {
  font-family: Oswald;
  font-weight: 700;
}

.main__section {
  background-color: #62a63b;
}


.main-nav {
  font-family: Oswald;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}

