@mixin font($font-size, $line-height, $font-weight) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin desktop() {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: $tablet-width) {
    @content;
  }
}
